* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Oxygen, sans-serif;
}

header {
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #612975;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    justify-items: center;
    padding: 10px 20px; 
    box-sizing: border-box;
}

#checkbox-menu{
    display: none;
}
  
.button {
    color: white;
    background-color: rgb(58, 206, 186);
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    display: block;

}

@media screen and (min-width: 300px) {

    .container{
        height: 22px;
        width: 30px; 
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
        align-content: center;
        z-index: 999999;
        position: relative;
        margin-right: 10px;
        
    }
      
    label{
        cursor: pointer;
        position: absolute;
        display: block;
        height: 22px;
        width: 100%;
    }
      
    label span{
        position: absolute;
        display: block;
        height: 5px;
        width: 100%;
        border-radius: 30px;
        background: #ffffff;
        transition: 0.25s ease-in-out;
    }
      
    label span:nth-child(1){
        top: 0;
    }
      
    label span:nth-child(2){
        top: 8px;
    }
      
    label span:nth-child(3){
        top: 16px;
    }
      
    #checkbox-menu:checked + label span:nth-child(1){
        transform: rotate(-45deg);
        top: 8px;
    }
      
    #checkbox-menu:checked + label span:nth-child(2){
        opacity: 0;
    }
      
    #checkbox-menu:checked + label span:nth-child(3){
        transform: rotate(45deg);
        top:8px;
    }
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        background-color:#612975;
        height: 100%;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;
        transition: transform .3s;
    }
    .menu-ul {
        width: 100%;
        list-style: none;
        list-style-position: outside;
        box-sizing: border-box;
    }
    .menu-item {
        width: 100%;
        border-bottom: 2px solid white;
        padding: 10px;
        box-sizing: border-box;
    }
    .menu-item a{
        font-size: 5vh;
        text-decoration: none;
        color: white;  
        width: 100%;
        box-sizing: border-box;
        
    }
    .close {
        transform: translateY(-100%);
    }
    .label-botao-close span {
        background-color: #612975;
    }
    
    .first h1 {
        color: #612975;
        text-align: center;
        margin: 20px 0;
        font-size: 26px;

    }
    .first {
        padding: 20px;
        text-align: center;
        box-sizing: border-box;
        margin: 20px auto;
        width: 90%;
    }
    .first h2 {
        text-align: center;
        color: #612975;
        line-height: 1.3;
        margin: 30px 0;
    }
    .first a {
        margin: auto;
        width: 50%;
        
    }

    .second {
        padding: 20px;
        text-align: center;
        box-sizing: border-box;
        margin: 30px 0;
    }

    .second h2 {
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #612975;
    }

    .second p {
        width: 80%;
        line-height: 1.3;
        margin: 20px auto 40px auto;
    }

    .third {
        padding: 20px;
        box-sizing: border-box;
    }

    .third h3 {
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #612975;
    }

    .third p {
        margin: 30px 0;
    } 

    .third a {
        width: 50%;
        margin-bottom: 20px;
    }

    footer {
        background-color: #26303b;
        text-align: center;
        color: rgb(144, 144, 144);
        box-sizing: border-box;
        height: 180px;
    }
    .icons {
        background-color: #303d4c;
        padding: 5px;
    }
    footer h4 {
        padding: 15px;
        font-weight: bold;
    }
    footer p {
        padding: 0 10px; 
        margin: 0px 0;;
    }
}

@media screen and (min-width: 650px) {

}

@media screen and (min-width: 1024px) {
    .menu {
        transform: translateY(0);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white; 
        width: 40%;
        height: 100%;
        position: relative;
       
    }
    .menu-ul {
        width: 100%;
        list-style: none;
        display: flex;  
        justify-content: space-between;
    }
    .menu-item {
        width: 100%;
        padding: 10px;
        display: inline-block;
    }
    .menu-item a{
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: #612975;  
        width: 100%;
    }
    .container {
        display: none;
    }
}